/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .drop-shadow-icon {
        filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.25));
    }
}

body::-webkit-scrollbar {
    background: transparent;
    width: 0;
}

button:focus,
input:focus {
    outline: none;
}
